<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      No permissions are needed! We are not connecting to the
      internet ourselves, just sending an Intent to the browser.
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VTChecker"
        tools:targetApi="31">

        <!--
          ACTIVITY 1: The Launcher Activity
          This is the activity that runs when you tap the app's icon.
          It's here so you can see the app in your app drawer.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          ACTIVITY 2: The Context Menu Action Handler
          This is the core of your app. It has NO icon.
          It activates on the ACTION_PROCESS_TEXT intent.
          The 'android:label' is what the user sees in the menu.
        -->
        <activity
            android:name=".ProcessTextActivity"
            android:exported="true"
            android:label="@string/check_on_virustotal"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>